bright = {
  name: "bright", //标识主题
  mainColor: #ededed, // 主要背景色
  mainColor-2: #ffffff, // 主要背景色
  bgColor_001 : rgba(255,255,255,0.7), // 图表背景色
  bgColor_002 : #445DF7, //标题前缀
  bgColor_003 : #E7E8F4, //进度条背景色
  fontColor: #000000, //主要字体颜色
  fontColor-2: #323232, //主要字体颜色
  font_color_001 : #C4C4C4, //字体选中颜色
  font_color_002 : #6C6E72, //字体未选中颜色
  font_color_003 : #939393, //进度条文字
  other_color_001 : #E8E8EC, //组件横线颜色
  borderColor : #ebedf0,
}

dark = {
  name: "dark",
  mainColor : #111111,
  mainColor-2 : #191919,
  bgColor_001 : rgba(5,8,15,0.7),
  bgColor_002 : #445DF7,
  bgColor_003 : #171A29,
  fontColor: #FFFFFF,
  fontColor-2: #CACACA,
  font_color_001 : #C4C4C4, 
  font_color_002 : #6C6E72,
  font_color_003 : #FFFFFF, 
  other_color_001 : #1B1E2F,
  borderColor : #33433F,
}

themeList = (bright dark);
